<html>
    <body>


            <div class="jumbotron">
                    <br><br><br><br><br>
            <div id="firstJBox">
                <div class="home">
                    <div class="est">
                        <p>Est. 2019</p>
                    </div>
            
                    <div class="title-home">
                        <p><b>FARM TO HOME</b></p>
                    </div>
            
                    <div class="home-subheading">
                        <p>Working dirctly with local farmers to help deliver fresh,<br> organic and locally produced goods directly to your door.</p>
                    </div>
                </div>
            </div>
            </div>
            

    <div class="images">
        <!-- <div> <a href=""><img src="assets\images\enquiries@farmtohome.com (4).png" class="responsive"></a></div> -->
        <div> 
            <a href="">
                <img src="assets\images\enquiries@farmtohome.com (1).png" class="responsive" >
            </a> 
        </div>
        <div> 
            <a href="">
                <img src="assets\images\enquiries@farmtohome.com.png" class="responsive">
            </a>
        </div>
    </div>

</body>
</html>

