html {
    background:url("https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center center;
      /* Background image doesn't tile */
    background-repeat: no-repeat;
        /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
        /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
}

.home {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;     
}
.est {
    font-family: 'Prata', serif;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    text-align: left;
    padding-left: 22ch;
}
.title-home {
    font-family: 'Prata', serif;
    color: rgb(0, 0, 0);
    font-size: 60pt;
    text-align: center;
}
.home-subheading {
    font-family: 'Prata', serif;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    text-align: left;
    padding-left: 22ch;   
}

/* .images {
    column-span: all;
    width: 500px;
} */

.responsive {
    width: 100%;
    height: auto;
  }