<html>
    <body>



    <br><br><br><br><br><br><br><br><br><br><br>

<div class="home">
    <div class="est">
        <p>Est. 2019</p>
    </div>

    <div class="title-home">
        <p><b>FARM TO HOME</b></p>
    </div>

    <div class="home-subheading">
        <p>Premium quality goods.</p>
    </div>
</div>


<table>
        <tr> 
        <td>col one</td>
        <td>col two</td>
        <td>
        
        
        <div class="img1">
        <div> <a href=""><img src="flower1.gif" width="110" height="90"></a></div>
        <div> <a href=""><img src="flower2.gif" width="70" height="60"></a> </div>
        <div> <a href=""><img src="flower3.gif" width="110" height="90"></a></div>
        </div>

    </td>
</tr>
</table>
</body>
</html>

