html {
    background:url("https://images.pexels.com/photos/558376/pexels-photo-558376.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
background-position: center center;
/* Background image doesn't tile */
background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
 the content's height is greater than the image's height */
background-attachment: fixed;
  /* This is what makes the background image rescale based
 on the container's size */
background-size: cover;
}