<html>
    

<p>seller-profile works!</p>
<table>
    <div>
        <td>
            <span
                    [hidden]="inputEfarmerName.valid || inputEfarmerName.pristine"
                    class="alert alert-danger">
                        Name Should Not Be Less That 6 Characters
                </span>
        </td>
    </div>
    <br>
    <tr>
        <th>Location: </th>
        <td *ngIf="!isEditable">{{farmLocation}}</td>
        <td *ngIf="isEditable">
            <input [(ngModel)]="farmLocation">
        </td>
    </tr>
    <br>
    <tr>
        <th>Products: </th>
        <td *ngIf="!isEditable">{{products}}</td>
        <td *ngIf="isEditable">
            <input [(ngModel)]="products">
        </td>
    </tr>
    <hr>
</table>
</html>

