<br>
<br>
<br>
<br>

<h2>Seller Profile</h2>
    <div class="container">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                  <div class="card-body">
<table align="center">
    <th>Number: </th>
    <td>{{farmerId}}</td>
    <br>
    <td>
        <button 
        (click)="toggleEdits()" class="btn btn-lg btn-google btn-block text-uppercase">
                {{isEditable?"Save":"Edit"}}
        </button>
    </td>
    <br>
    <br>
    <tr>
            <th>Name: </th>
            <td *ngIf="!isEditable">{{farmerName}}</td>
            <td *ngIf="isEditable">
                <div class="form-group">
                    <input [(ngModel)]="farmerName"
                    #inputEfarmerName="ngModel"
                    minlength="6"
                    maxlength="45">
                <span
                    [hidden]="inputEfarmerName.valid || inputEfarmerName.pristine"
                    class="alert alert-danger">
                        Name Should Not Be Less That 6 Characters
                </span>
                </div>
            </td>
        
    </tr>
    <br>
    <tr>
        <th>Location: </th>
        <td *ngIf="!isEditable">{{farmLocation}}</td>
        <td *ngIf="isEditable">
            <input [(ngModel)]="farmLocation">
        </td>
    </tr>
    <br>
    <!-- <tr>
        <th>Products: </th>
        <td *ngIf="!isEditable">{{products}}</td>
        <td *ngIf="isEditable">
            <input [(ngModel)]="products">
        </td>
    </tr>
    <br>
    <tr>
        <th>Farmer Products: </th>
        <td *ngIf="!isEditable">{{farmerProds}}</td>
        <td *ngIf="isEditable">
            <input [(ngModel)]="farmerProds">
        </td>
    </tr> -->
</table>
                </div>
            </div>
        </div>
    </div>


<h2>Products</h2>
<div class="container">
        <!-- <div class="col-sm-9 col-md-7 col-lg-5 mx-auto"> -->
            <div class="card card-signin my-5">
                  <div class="card-body">
                        
<table width=90% align="center">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <!-- <th>Category</th> -->
        <th>Size</th>
        <th>Expiry Date</th>
        <th>Price</th>
        <th>Index</th>
        <th><button (click)="showProductForm()" class="btn btn-lg btn-primary btn-block text-uppercase">+</button></th>
    </tr>
    <tr *ngFor="let a of farmerProds; let i = index">
        <td>{{a.productId}}</td>
        <td>{{a.product_name}}</td>
        <!-- <td>{{a.currentCategory}}</td> -->
        <td>{{a.size}}</td>
        <td>{{a.expiry_date}}</td>
        <td>{{a.price}}</td>
        <!-- <td>{{a.quantity}}</td> -->
        <td>{{i+1}}</td>
        <td><button (click)="deleteProduct(i)" class="btn btn-lg btn-danger btn-block text-lowercase">X</button></td>
    </tr>
</table>
<br>

<form *ngIf="isProductFormVisable"
        (submit) = "assignNewProduct()">
    <table>
        <tr>
            <td>
                <select name="productId" #selectProductId (change)="updateSelectedProductId(selectProductId.value)">
                    <option *ngFor="let p of farmerProds"
                        value="{{p.productId}}">
                        {{p.productId}}::{{p.product_name}}
                    </option>
                </select>
            </td>
            <td>
                <input type="submit" value="Add" class="btn btn-sm btn-secondary btn-block text-uppercase">
            </td>
            <td>
                <div [hidden]="isProductFormValid">
                    {{invalidFormMessage}}
                </div>
            </td>
        </tr>
    </table>
</form>
                </div>
            <!-- </div> -->
        </div>
    </div>

                
<!-- <h2>Category</h2>
<table>
    <tr>
        <th>
            Number:
        </th>
        <td *ngIf="!isEditable">{{currentCategory.categoryId}</td>
        <td *ngIf="isEditable">
            <select id="cat-select" #selectCategory [(ngModel)="currentCategory"
            (change)="updateSelection(selectCategory.value)">
            
            <option *ngFor="let cat of allCategories" value="{{cat.categoryId}}">
                {{cat.categoryId}}::{{category}}
            </option>
        </select>
        </td>
    
    </tr>
</table> -->

