<html> 
<body>

<B>
<br><br><br><br><br>

 <div class="login1">

<br>
<br>
<button type="button" class="btn btn-danger" routerLink="/seller-login-registration">SELLING</button>


<button type="button" class="btn btn-danger" routerLink="/consumer-login-registration">BUYING</button>

 </div>

<div class="row">
    <div class="column">
    <a href="http://localhost:9991/seller-login-registration">
    <img src="assets\images\seller.jpeg" alt="HTML tutorial" style="width:400px;height:auto;">
    </a>
    </div>

    <div class="column ">
    <a href="http://localhost:9991/consumer-login-registration">
    <img src="assets\images\buyer.jpeg" alt="HTML tutorial" style="width:400px;height:auto;">
    </a>
    </div>
</div>



</B>
</body>
</html>