<html> 


<br><br><br><br>

<div class="container text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="bg"></div>
            <div class="content">

                  <h1>Welcome</h1>   
                
<br><br>
  
                <div class="subtitle">   
                  <p><b>Will you be buying or selling with us today? </b></p> 
                      <div class="login1">

                            <button type="button" 
                                    class="btn btn-success btn-lg" 
                                    routerLink="/consumer-login-registration">
                                    Buying
                            </button>
                            <button type="button" 
                                    class="btn btn-success btn-lg" 
                                    routerLink="/seller-login-registration">
                                    Selling
                            </button>
                              
                      </div> 
                </div>    
            </div>
    </div>   
</div>

</html>       


