<html> <B>
    <br>
    <br>
    <br>
    <br>
    <br>
 <div class="login1">
<h2><b>LOGIN OR REGISTER</b></h2>
<br>
<br>
<h3><b>SELLING?</b></h3>
<p><a class="selllog" href="">LOGIN</a></p>
<br>
<p><a class="sellreg" routerLink="/seller-login-registration">REGISTER</a></p>
<br>
<p><a class="selldet" routerLink="/seller-profile">MY DETAILS</a></p>
<br>

<h3><b>BUYING?</b></h3>
<p><a class="buylog" href="">LOGIN</a></p>
<br>
<p><a class="buyreg" href="">REGISTER</a></p>
<br>
<p><a class="buydet" href="/user-buyer-profile">MY DETAILS</a></p>
</div>   
</B>
</html>