html {
    background:url("https://images.pexels.com/photos/717130/pexels-photo-717130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

