.navbar ul.navbar-nav {
    margin-right: 0;
    float: none;
    width: 100%;
    
  }
  .navbar ul.navbar-nav li {
    width: 33%;
    text-align: center;
  }

.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;  
   
}

.navbar a:hover {
  color: rgb(255, 255, 255);
}
/* 
.card-footer {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 30pt;
  text-align: center;
} */