<html>
<br><br><br><br><br>
        <div class="title-fruit">
            <p><b>FRUIT & VEGETABLES</b></p>
        </div>
<br><br>
    
    <table class="table table-dark">
        <tr><th></th></tr>
        <tr>    
            <td>NAME</td>
            <td>PRICE</td>
            <td>AMOUNT</td>
            <td>ADD TO BASKET</td>
            <td>DELETE</td>

        </tr>

        <tr *ngFor ="let p of products|paginate: {itemsPerPage:10, currentPage:p}; let i = index">
            <td>{{p.product_name}}</td>
            <td>£{{p.price}}</td>
            <!-- <td>{{p.quantity}}</td> -->
            <td>
                <input type="number" 
                        #quantity 
                        value = 1 
                        name = "quantity" 
                        min = "1" 
                        max = "12">
            </td>

            <td><button class="btn btn-success" (click) = "addQuantity(p.productId, quantity.value)">+</button></td>

            <td><button class="btn btn-danger" (click) = "deleteProducts(p.productId)">x</button></td>

        </tr>

    </table>   

<div class="jumbotron bg-dark" id="pag">
        <div class="pagination">
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </div>
    </div>
    
</html>
