html {
    background:url("https://images.pexels.com/photos/952485/pexels-photo-952485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.title-fruit {
    font-family: 'Prata', serif;
    color: white; 
    font-size: 60pt;
    text-align: center;
}

.table {
    font-size: 15px;
}