
<html>



    <br><br><br><br><br><br><br><br><br><br><br>

<div class="jumbotron">
<div id="firstJBox">
    <div class="home">
        <div class="est">
         <p>Est. 2019</p>
        </div>

     <div class="title-home">
        <p><b>FARM TO HOME</b></p>
        </div>

     <div class="home-subheading">
        <p>Premium quality goods.</p>
        </div>
    </div>
    </div>
</div>

<br><br><br><br><br><br><br>






<div class="jumbotron jumbotron-fluid bg-dark">
 Search for item: <input id="search-bar" type="text" [(ngModel)]="term">
<br>
<table class="table table-dark">
<br>
        <tr>    
            <td>NAME</td>
            <td>PRICE</td>
            <td>EXPIRY</td>
            <td>AMOUNT</td>
            <td>ADD TO BASKET</td>

        </tr>
        <tr *ngFor ="let p of products|paginate: {itemsPerPage:10, currentPage:p} |filter:term; let i = index">
            
            
            <td>{{p.product_name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.expiry_date}}</td>
            <td *ngFor = "let a of addQua">
                {{a.quantity}}
            </td>
      
            
            <td><select #quantity>
                <option value="0">0</option >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select></td>
            <td><button (click) = "addProducts(p.productId)" (click) = "addQuantity(p.productId, quantity.value)">+</button>
            <button (click) = "deleteProducts(p.productId)">-</button></td>

        </tr>
</table>


    <div class="pagination">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
</div>
</html>